[submodule "site/themes/hyde"]
	path = site/themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "public"]
	path = public
	url = git@github.com:hapana/hapana.github.io.git
	branch = master
[submodule "site/themes/m10c"]
	path = site/themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
